.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: 700;
  color: #7f6aa8;
  font-size: .875em;
  padding: 18px 0;
}