@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --container-8xl: 88rem;

  --color-woodsmoke-50: oklch(98.5% 0.002 270);
  --color-woodsmoke-100: oklch(96.4% 0.003 270);
  --color-woodsmoke-200: oklch(91.6% 0.003 270);
  --color-woodsmoke-300: oklch(86.5% 0.004 270);
  --color-woodsmoke-400: oklch(70.3% 0.006 270);
  --color-woodsmoke-500: oklch(54.3% 0.007 270);
  --color-woodsmoke-600: oklch(44.2% 0.007 270);
  --color-woodsmoke-700: oklch(36.6% 0.006 270);
  --color-woodsmoke-800: oklch(26.6% 0.005 270);
  --color-woodsmoke-900: oklch(20.3% 0.004 270);
  --color-woodsmoke-950: oklch(14.5% 0.003 270);

  --color-royal-purple-50: #faf7fd;
  --color-royal-purple-100: #f2ecfb;
  --color-royal-purple-200: #e8dcf8;
  --color-royal-purple-300: #d6c0f2;
  --color-royal-purple-400: #bc98e8;
  --color-royal-purple-500: #a270dc;
  --color-royal-purple-600: #8c51cc;
  --color-royal-purple-700: #773fb1;
  --color-royal-purple-800: #6b3b9b;
  --color-royal-purple-900: #532e75;
  --color-royal-purple-950: #361655;
}

body {
  @apply bg-woodsmoke-900 text-white min-h-screen antialiased;
}
